<div class="row-fluid">
  <% if not signed_in? %>
      <div class="center hero-unit">
        <h1>Welcome to Just Notes!</h1>

        <h2>
          Nothing more. Nothing less.
        </h2>
        <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
      </div>
  <% end %>
</div>