<div id="notes_table">
  <table class="table">
    <thread>
      <th>#</th>
      <th>Title</th>
      <th>Content</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Actions</th>
    </thread>
    <tbody>
      <%= render partial: 'notes/note_row', collection: @notes, as: 'note' %>
    <tbody>
  </table>
  <div class="center">
    <%= will_paginate @notes, params: {controller: 'users', action: 'show', id: @user.id} %>
  </div>
</div>