<div id="notes_table">  
  <table class="table">
    <thread>
      <th class="delete_icon_header"></th>
      <th>#</th>
      <th>Title</th>
      <th>Content</th>
      <th>Created</th>
      <th>Updated</th>
    </thread>
      <tbody class="notes_table_body">
        <%= render partial: 'notes/note_row', collection: @notes, as: 'note' %>
      </tbody>
  </table>
  <div class="center hide">
    <%= will_paginate @notes, params: {controller: 'users', action: 'show', id: @user.id} %>
  </div>
</div>