<%= provide(:title, 'Edit Note') %>

<div class="row">
  <div class="span7 offset3">

    <legend>Edit Note</legend>

    <%= render partial: 'form', locals: {url_path: user_note_path} %>

  </div>
</div>