<% javascript 'users.js' %>
<% provide(:title, @user.name) %>
<div class="row-fluid">
  <div class="span12">
    <h3>
      Hi, <%= @user.name %>!
        You have a total of
        <span id="total_notes">
          <%= pluralize(@user.notes.count, 'Note') %>.
        </span>      
        <div id="btn_edit_notes" class="pull-right" title="Edit Notes">
          <div class="btn">
            <i class="icon-pencil"></i><span id="btn_edit_notes_text"> Edit</span>
          </div>          
          <%= link_to(new_user_note_path(@user) , class: "btn btn-success", title: "Create a new Note") do %>
            <i class="icon-plus icon-white"></i> New Note
          <% end %>
        </div>
    </h3>
    </br>
      <% if @user.notes.any? %>
        <%= render 'notes/notes_table' %>
      <% end %>
  </div>
</div>